body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  color: var(--font-color);
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #101111;
  --font-color: #e9ebed;
}

/* For ease of sizing, border-box is established to include borders and padding any time a size is specified */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove button default styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  ;
}

/* Generic style for centering content */
.centered {
  display: flex;
  justify-content: center;
}


/* BEGIN HEADER STYLES */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--font-color);
  margin: 0 40px;
}

/* Styles "Timed Code Quiz" */
header h1 {
  font-size: 4vw;
  padding: 10px 0;
}

/* Styles the display on the right side of the header showing the current high score */
.highScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  font-size: .8vw;
}

/* Styles the initials and score */
.record {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
}

/* Pushes the button to "view the scoreboard" to the right for more visual appeal */
.highScore button {
  text-align: right;
}

/* END HEADER STYLES */


/* Section holds everything in the body except the header */
section {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Styles for the current score display */
.score {
  width: 550px;
  margin: 50px 0 20px 0;
  border: 2px solid var(--font-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3vw;
  padding: 5px;
  align-items: center;
}

/* Styles for the large white box in which the instructions, beginBtn, and later the quiz content go */
.quizSpace {
  width: 550px;
  height: 400px;
  padding: 5px;
  border: 2px solid var(--font-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styles for all <h2> elements that ends up in the quiz <div> */
.quizSpace .quiz h2 {
  font-size: 1.4vw;
  font-weight: normal;
  margin-bottom: 10px;
}

/* Styles for all <p> elements that ends up in the quiz <div> */
.quizSpace .quiz p {
  font-size: .8vw;
  line-height: 1.5;
  word-spacing: 4px;
}

/* Styles for the "Take the Quiz" button */
.quizSpace .beginBtn {
  margin: 25px auto;
  font-size: 1.4vw;
  padding: 5px;
  border: 2px solid var(--font-color);
  border-radius: 5px;
}

/* Styles the <div> element in which all of the answers will be placed */
.quizSpace .quiz .quizAnswers {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styles the answer buttons */
.quizSpace .quiz .quizAnswers button {
  margin: 5px 20px 0px 20px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  word-spacing: 4px;
}

/* Adds a hover style on the answer buttons */
.quizSpace .quiz .quizAnswers button:hover {
  background-color: var(--font-color);
  color: var(--background);
}

/* Font size for the answer buttons */
.quizSpace .quiz .questionAnswer {
  font-size: .8vw;
}

/* Styles for the timer bar */
#timerBar {
  background-color: var(--font-color);
  height: 5px;
  width: 550px;
  margin-top: 20px;
  opacity: 0;
  transition-timing-function: linear;
}

/* Styles for the <div> containing all of the game content (timer, combo, points multiplier) */
.gameContent {
  float: right;
  width: 300px;
  margin-top: 50px;
}

/* Styles for <div> elements within the gameContent <div> */
.gameContent div {
  margin: 20px;
  padding: 5px;
  font-size: 1.2vw;
  border: 2px solid var(--font-color);
  border-radius: 5px;
}

/* Specific style for the time remaining <div>, which is at the top */
.gameContent .timeRemaining {
  margin-top: 0px;
}

.transition {
  transition-duration: 1000ms;
}

/* Style for the results screen */
.results {
  text-align: center;
}

/* Style for the <div> elements that will display the initials chosen by the user */
.initials div {
  margin: 5px;
  height: 75px;
  width: 50px;
  font-size: 60px;
  text-align: center;
}

/* Blink class for the blinking cursor displayed during initials input */
.blink {
  border-bottom: 5px solid var(--font-color);
}

/* Style for the <div> element that will hold all of the buttons for initials input */
.btnDiv {
  flex-wrap: wrap;
  font-size: 24px;
}

/* Style for button size during initials input */
.charBtn {
  width: 50px;
  height: 50px;
}

/* Stacks the elements for the "Play Again?" prompt */
.playAgainPrompt {
  flex-direction: column;
  text-align: center;
}

/* Style for the <div> element that will contain the "Y/N" buttons in the "Play Again?" prompt */
.promptButtons {
  display: flex;
  margin: 0px auto;
  font-size: 24px;
}

/* Style for the stylistic "/" used in the "Play Again?" prompt */
.btnBetween {
  padding-top: 13px;
}

/* Adds a border-bottom to the title on the high scores screen */
.highScoreListTitle {
  border-bottom: 5px solid var(--font-color);
}

/* Spaces out the initials and scores on the high scores screen */
.highScoreListItem {
  display: flex;
  justify-content: space-between;
}

/* Styles the font-size for the saved entries on the high scores screen */
.quizSpace .quiz .highScoreListItem p {
  font-size: 1vw;
}

/* Font size for the "Play Again" button on the high score screen */
.quizSpace .quiz #playAgain {
  font-size: 1vw;
  margin: 0px auto;
}

/* Styles the display notifying the user that there are no high scores yet */
#noHighScoreList {
  margin: 130px auto;
  text-align: center;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
/* BEGIN ADJUSTMENTS FOR SMALLER MONITORS AND BELOW */
@media screen and (max-width: 980px) {
  section {
    width: 700px;
  }

  .score {
    width: 500px;
    margin: 50px 0 20px 0;
    padding: 5px;
  }

  .quizSpace {
    width: 500px;
    padding: 5px;
  }

  .quizSpace .quiz h2 {
    font-size: 2vw;
  }

  .quizSpace .quiz p {
    font-size: 1.5vw;
  }

  .quizSpace .beginBtn {
    font-size: 2vw;
  }

  .quizSpace .quiz .questionAnswer {
    font-size: 1.5vw;
  }

  #timerBar {
    width: 500px;
    margin-top: 20px;
  }

  .gameContent {
    width: 180px;
  }

  .quizSpace .quiz .highScoreListItem p {
    font-size: 1.8vw;
  }

  .quizSpace .quiz #playAgain {
    font-size: 1.8vw;
  }
}

/* END ADJUSTMENTS FOR SMALLER MONITORS AND BELOW */

/* BEGIN ADJUSTMENTS FOR TABLETS AND BELOW */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .highScore {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6vw;
    width: 100%;
  }

  section {
    width: 560px;
  }

  .score {
    width: 380px;
    margin: 50px 0 20px 0;
    padding: 5px;
  }

  .quizSpace {
    width: 380px;
    padding: 5px;
  }

  .quizSpace .quiz h2 {
    font-size: 2.3vw;
  }

  .quizSpace .quiz p {
    font-size: 1.7vw;
  }

  .quizSpace .beginBtn {
    font-size: 2.3vw;
  }

  .quizSpace .quiz .questionAnswer {
    font-size: 2vw;
  }

  #timerBar {
    width: 380px;
    margin-top: 20px;
  }

  .gameContent {
    width: 160px;
  }

  .gameContent span {
    font-size: 1.5vw;
  }
}

/* END ADJUSTMENTS FOR TABLETS AND BELOW */

/* BEGIN ADJUSTMENTS FOR MOBILE PHONES AND BELOW */
@media screen and (max-width: 575px) {
  section {
    width: 360px;
  }

  .score {
    width: 260px;
    margin: 50px 0 20px 0;
    padding: 5px;
  }

  .quizSpace {
    width: 260px;
    padding: 5px;
  }

  .quizSpace .quiz h2 {
    font-size: 3vw;
  }

  .quizSpace .quiz p {
    font-size: 2.4vw;
  }

  .quizSpace .beginBtn {
    font-size: 3vw;
  }

  #timerBar {
    width: 260px;
    margin-top: 20px;
  }

  .gameContent {
    width: 100px;
  }

  .gameContent div {
    font-size: 1vw;
  }

  .charBtn {
    width: 40px;
    height: 40px;
  }

  .quizSpace .quiz .highScoreListItem p {
    font-size: 2.4vw;
  }

  .quizSpace .quiz #playAgain {
    font-size: 2.4vw;
  }
}



/* BEGIN FADE-IN EFFECT STYLES */
/* These fade-in effects were learned from https://blog.hubspot.com/website/css-fade-in */
.quizSpace .quiz .question,
.quizSpace .quiz .questionAnswer {
  animation: fadeIn linear 1000ms;
  -webkit-animation: fadeIn linear 1000ms;
  -moz-animation: fadeIn linear 1000ms;
  -o-animation: fadeIn linear 1000ms;
  -ms-animation: fadeIn linear 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* END FADE-IN EFFECT STYLES */